.servicewrapper {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #044941;
	padding: 30px 0px;
}


.servicehead > h1 {
	font-size: 42px;
	font-weight: 600;
	/* text-align: center; */
	color: #fabc14;
	/* margin-bottom: -2px; */
}

.servicecon {
	display: flex;
	/* border: 1px solid white; */
	padding: 20px 60px;
	gap: 40px;
}
.service1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	/* border: 1px solid white; */
	padding: 20px;
	flex: 1;
box-shadow: inset 0px 0px 10px white;
border-radius: 15px;
}
.service2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	gap: 20px;
	/* border: 1px solid white; */
	padding: 20px;
	flex: 1;
	box-shadow: inset 0px 0px 10px white;
border-radius: 15px;
}
.service {
	/* border: 1px solid white; */
	display: flex;
	align-items: center;
	text-wrap: wrap;
	font-size: 19px;
	color: white;
}
.service > p > span {
	color: #fabc14;
	animation: glowAnimate 1s infinite linear;
}
@keyframes glowAnimate {
	0% {
		color: #fabc14;
	}
	50% {
		color: yellow;
	}

	100% {
		color: #fabc14;
	}
}

.service > i {
	margin-right: 20px;
	/* margin-left: 5px; */
	color: #fabc14;
}
