.servicewrapper {
	/* border: 1px solid black; */
	display: flex;
	/* flex-direction: column; */
	background-color: #044941;
	align-items: center;
	padding: 40px;
	/* gap: 40px; */
	justify-content: center;
}
.service1 {
	display: flex;
	box-shadow: inset 0px 2px 13px #fabc14;
	border-radius: 50px;
	padding: 15px ;
}
.serviceleft {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	gap: 45px;
	padding: 10px;
	flex: 1;
	/* margin-top: 20px; */
}
.serviceleft > h1 {
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	color: #fabc14;
	margin-bottom: -2px;
}
.service {
	display: flex;
	align-items: center;
	font-size: 18px;
	color: white;
}
.service > i {
	margin-right: 17px;
    margin-left: 5px;
	color: #fabc14;
}
.serviceright {
	display: flex;
	/* border: 1px solid black; */
	flex: 1;

	justify-content:end;
}
.serviceright > img {
	width: 450px;
	border-radius: 50px;
	
}
