.servicewrapper {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	background-color: #044941;
padding:  50px;
	
}
.service1 {
	display: flex;
	flex-direction: column;
	align-items: center;
justify-content: center;
	/* border-radius: 50px; */
	border-top-left-radius: 80px;
	border-bottom-right-radius: 80px;
	padding: 35px;
	box-shadow: inset 0px 2px 13px #fabc14;
	border: 1px solid #fabc14;
	
}
.service2{
	display: flex;
	flex-direction: column;
	/* border: 1px solid black; */
	padding: 0px 20px;
	gap: 10px;
}

.servicehead {
	text-align: center;
	
	margin-bottom: 25px;
}
.servicehead > h1 {
	font-size: 42px;
	font-weight: 600;
	/* text-align: center; */
	color: #fabc14;
	margin-bottom: -2px;
}
.service {
	/* border: 1px solid white; */
	display: flex;
	align-items: center;
	
	font-size: 19px;
	color: white;
	
}
.service > p > span {
	color: #fabc14;
	animation: glowAnimate 1s infinite linear;
}
@keyframes glowAnimate {
	0%{
		color: #fabc14;
	}
	50%{
		color: yellow;
	}
	
	100%{
		color: #fabc14;
	}
}


.service > i {
	margin-right: 20px;
	/* margin-left: 5px; */
	color: #fabc14;
}
