.bgmain {
	top: -150px;
	right: -710px;
	position: fixed;
	/* position: absolute; */
	width: 750px;
	height: 800px;
	transform: rotate(140deg);
	background-color: #fabc14;
	border-radius: 50px;
	z-index: -1;
}

.mainwrapper {
	/* border: 1px solid #fabc14; */
	display: flex;
	flex-direction: column;
	height: 85vh;
	align-items: center;
	justify-content: center;
	padding: 0px 120px;
	gap: 35px;
	/* box-shadow: inset 0px 0px 10px #fabc14; */
}

.leftmain {
	/* border: 1px solid white; */
}

.mcontent {
	/* font-style: italic; */

	text-shadow: 0px 0px 2px black;
	color: white;
	font-size: 49px;
	font-weight: 500;
	/* border: 1px solid white; */
	text-align: center;
	/* padding: 10px 35px; */
}
.mcontent > span {
	color: #fabc14;
}
.leftmain > i {
	position: fixed;
	color: white;
	scale: 4;
	left: 50px;
	bottom: 100px;
	opacity: 0.1;
}
.mainwrapbtn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fabc14;
	/* padding: 10px; */
	border-radius: 10px;
	transition: all 0.3s ease;
	&:hover {
		background-color: white;
		border-radius: 20px;
	}
}

.mainwrapbtn > a {
	text-decoration: none;
	font-size: 21px;

	color: #044941;
	padding: 10px 30px;
	/* border: 1px solid white; */
}

.wrapicon {
	display: flex;
	flex-direction: column;
	color: #fabc14;
}
.wrapicon > i {
	margin-top: 10px;
	/* animation: downAnimate infinite 1s; */
}

.wrapicon > i:nth-child(1) {
	animation: downAnimate infinite 3s;
}
.wrapicon > i:nth-child(2) {
	animation: downAnimate infinite 3s;
	animation-delay: 0.5s;
}
.wrapicon > i:nth-child(3) {
	animation: downAnimate infinite 3s;
	animation-delay: 1s;
}
@keyframes downAnimate {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* main2 */

.main2wrapper {
	/* margin-top: 200px; */
	/* height: 90vh; */
	padding: 40px;
	background-color: #044941;
	display: flex;
	/* border: 1px solid white; */
	gap: 35px;
	color: white;
	/* z-index: -1; */
}
.main2card {
	flex: 0.8;
	font-size: 20px;
	/* border: 1px solid white; */
	border-radius: 15px;
	padding: 50px 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	box-shadow: inset 0px 0px 8px #fabc14;
	/* z-index: 1; */
}
.main2card > i {
	color: #fabc14;
	scale: 1.3;
	margin-bottom: 10px;
}
.main2card > p > span {
	color: #fabc14;
}

/* main3 */
.main3wrapper {
	/* border: 1px solid white; */
	padding: 80px 40px;
	background-color: #044941;
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 40vh; */
	gap: 30px;
}
.main3left > img {
	height: 400px;
	/* margin-left: -20px; */
	border-top-right-radius: 90px;
	border-bottom-right-radius: 90px;
	box-shadow: 0px 0px 2px #fabc14;
}
.main3left {
	display: flex;
	align-items: center;

	/* border: 1px solid white; */
}
.main3right {
	padding: 20px;
	display: flex;
	flex-direction: column;
	/* flex: 1; */
	color: white;
	/* border: 1px solid white; */
	box-shadow: 2px 2px 5px #fabc14;

	/* border-radius: 20px; */
}

.patientscontain {
	/* border: 1px solid white; */
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #044941;
	height: 60vh;
}
.patienttext {
	text-align: center;
	color: #fabc14;
	font-size: 20px;
}
.pcontain {
	border: 1px solid #fabc14 ;
	/* box-shadow: inset 0px 0px 10px #fabc14; */
	margin: 0px 10px;
	padding: 25px 30px;
	color: white;
	
	width: 300px;
	/* height: 140px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	border-radius: 15px;
	backdrop-filter: blur(20px);
}

.numberpatients{
	font-size: 25px;
}