#about {
	padding-top: 40px;
	height: 100vh;
	background-color: #044941;
	display: flex;
	/* border: 1px solid black; */
	align-items: center;
	justify-content: center;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
box-shadow: inset 0px 1px 1px white;
/* backdrop-filter: blur(20px); */

}

.aboutleft {
	/* border: 1px solid black; */
	flex: 1;
	display: flex;
	background-color: #044941;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.aboutleft > img {
	width: 350px;
	height: 500px;

	border-radius: 10px;
	/* filter: blur(5px); */
}
.aboutleft > i {
	color: white;
	/* z-index: -1; */
	opacity: 0.07;
	scale: 5;
	position: absolute;
	left: 700px;
}
.aboutright {
	/* border: 1px solid black; */
	flex: 1.1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 50px;
	background-color: #044941;
	color: white;
}
.aboutcon {
	border: 1px solid #fabc14;
	padding: 20px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
}

.abouthead > h1 {
	font-size: 42px;
	font-weight: 600;
	color: #fabc14;
}
.aboutcon > p {
	text-align: center;
	font-size: 19px;
	letter-spacing: 1px;
	font-weight: normal;
}
.aboutcon > p > span {
	color: #fabc14;
}
