html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: "Varela Round", sans-serif;
	background-color: #044941;
	/* background-color: #fabc14; */
}

/* main header */
.header {
	/* background-color: #fabc14; */
	position: sticky;
	top: 0px;
	backdrop-filter: blur(20px);
	z-index: 9999;
	/* border: 1px solid white; */
	padding: 30px 40px;
}
.headwrapper {
	display: flex;
	/* border: 1px solid white; */
	justify-content: space-between;

	color: white;
	align-items: center;
	/* padding: 30px 50px; */
}
.headwrapper > a {
	text-decoration: none;
	color: inherit;
}

.logo {
	display: flex;
	flex-direction: column;
	font-size: 26px;
	font-weight: 700;
	cursor: pointer;
	color: #fabc14;
	text-shadow: 1px 1px 1px black;
	/* border: 1px solid white; */
	align-items: center;
	justify-content: center;
	gap: 5px;
	backdrop-filter: blur(10px);
	transition: all 0.4s ease;
	/* box-shadow: inset 0px 0px 10px #fabc14; */
	padding: 10px;

	border-radius: 20px;
	&:hover{
		scale: 1.05;

		color: yellow;
	}
}
.logo > div:nth-child(2) {
	/* border: 1px solid white; */
	color: white;
	font-weight: 500;
	font-size: 19px;
	padding: 0px 50px;
	transition: all 0.4s ease;
	&:hover{
		color: #fabc14;
	}
}

.headlinks {
	display: flex;
	font-size: 16px;
	font-weight: 600;
	gap: 20px;
	align-items: center;
	/* border: 1px solid white; */
	border-radius: 10px;
}
.headlinks>a{
	text-decoration: none;
}

.hlink {
	position: relative;
	/* border: 1px solid white; */
	cursor: pointer;

	color: white;
	padding-bottom: 5px;
	transition: all 0.3s ease;
	border-radius: 15px;

	&:hover {
		box-shadow: 0px 2px 0px white;
		transform: translateY(-4px);
		color: #fabc14;
	}
}
.hlink > a {
	padding: 10px 15px;
	/* border: 1px solid white; */
	text-shadow: 0px 2px 2px black;
	text-decoration: none;
	color: inherit;
}

.hlinksign{
	
	background-color: #fabc14;
	font-weight: 600;
	padding: 10px 20px;
	border-radius: 15px;
	transition: all 0.3s ease;
	&:hover {
		box-shadow: 0px 2px 0px white;
		transform: translateY(-4px);
		color: #044941;
		
	}
}
.hlinksign>a{
	text-decoration: none;
	color: white;
	text-shadow: 0px 2px 2px black;
	&:hover {
		
		color: #044941;
		
	}
}

.hlink:nth-child(6) {
	background-color: #044941;
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 15px;
	box-shadow: inset 0px 0px 5px #fabc14;
	animation: callAnimate 1s infinite;
}
.hlink:nth-child(6)>i{
	color: white;
}

@keyframes callAnimate {
	0% {
		box-shadow: inset 0px 2px 5px #fabc14;
	}
	50% {
		box-shadow: inset 2px 0px 5px #fabc14;
	}
	100% {
		box-shadow: inset 0px 2px 5px #fabc14;
	}
}

/* headr2 */

.dropdown-content {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	gap: 7px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
}
.doption {
	background-color: #fabc14;
	border-radius: 5px;
	/* width: max-content; */
	/* border: 1px solid white; */
	padding: 5px 25px;
	color: #044941;
	display: flex;
	align-items: center;
	min-width: 170px;
}
.maind {
	/* border: 1px solid black; */
	position: absolute;
	top: 35px;
	right: 10px;
	display: flex;

	/* right: 10px; */
}
.submenu {
	background-color: white;
	color: #044941;
	height: 360px;
	overflow-y: scroll;
	width: 250px;
	position: absolute;
	left: 230px;
	top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	font-size: 17px;
	border-radius: 5px;
}

.submenu > div > i {
	margin-bottom: 20px;
	cursor: pointer;
}
