html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}



body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Varela Round", sans-serif;
    background-color: #044941;
    /* background-color: #fabc14; */
}
.header{
    position: sticky;
    top: 0px;
    backdrop-filter: blur(10px);
    /* background-color: #044941; */
    z-index: 9999;
}
.headwrapper{
    /* position: sticky; */
    /* top: 0px; */
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    padding: 30px 50px ;
    color: white;
    align-items: center;
    /* z-index: 9999; */
    /* background-color: #044941; */
}
.headlinks{
    display: flex;
    font-size: 18px;
    gap: 60px;
    align-items: center;
    /* border: 1px solid white; */
    border-radius: 10px;
    /* background-color: #044941; */
    /* z-index: 9999; */
   
}

.hlink{
    position: relative;
/* border: 1px solid white; */
    cursor: pointer;
    font-weight: 600;
    
    /* color: #fabc14; */
    color: white;
    padding-bottom: 5px ;
    transition: all 0.2s ease-in;
    border-radius: 15px;
   
    /* backdrop-filter: blur(15px); */
    &:hover{
        box-shadow: 0px 2px 0px white;
        /* animation: boxs 1s infinite; */
    }
   
}
.hlink>a{
    padding: 10px 15px;
/* border: 1px solid white; */
    text-shadow: 0px 2px 2px black;
    text-decoration: none;
    color: inherit;


   
}


.hlink:nth-child(4){
background-color: #044941;
font-weight: 600;
padding: 10px 20px;
border-radius: 20px;

}
.logo{
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    color: #fabc14;
    text-shadow: 0px 2px 2px black;
}
.logo>a{
    text-decoration: none;
    color: inherit;
}

.dropdown{
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    background-color: #fabc14;
    position: absolute;
top: 37px;
color: hsl(173, 90%, 15%);
padding: 15px 20px;
gap: 20px;
border-radius: 20px;
border: 1px solid #044941;
}
/* .sub-dropdown{
    background-color: #fabc14;
    position: absolute; 
    left: 200px;
} */

.sub-dropdown {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    transition: all 0.3s ease;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    color: #044941;
    position: absolute;
    top: 50px; /* Adjust according to your design */
    left: 170px; /* Adjust according to your design */
    gap: 20px;
    border: 1px solid #fabc14;
  }
  