@media only screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	#mmenu {
		position: absolute;
		color: #fabc14;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		top: 42px;
		right: 20px;
		/* z-index: 2; */
		transition: all 0.5s ease;
	}
	#mmenu2 {
		position: absolute;
		color: white;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		top: 65px;
		right: 20px;
		/* z-index: 2; */
		width: 40px;
		scale: 1.2;
	}

	#mmenu > div {
		width: 37px;
		height: 6px;
		border-radius: 6px;
		margin: 3px;
		background-color: white;
		transition: all 0.5s ease;
	}

	.mobilemenu {
		/* border: 2px solid #f0dd4d; */
		position: absolute;
		top: 135px;
		left: 7px;

		display: flex;
		background-color: #fabc14;
		justify-content: center;
		flex-direction: column;
		transition: all 0.5s ease;

		padding: 20px;
		border-radius: 15px;
	}

	#mo1 {
		text-align: center;
		border: 1px solid #044941;
		/* background-color: black; */
		padding: 20px 113px;
		margin: 7px 0px;
		text-decoration: none;
		color: #044941;
		font-size: 20px;
		border-radius: 20px;
	}
	#mo1:last-child {
		background-color: #044941;
		color: #f0dd4d;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 100px;
	}

	#mo1:nth-child(5) {
		padding: 20px 90px;
	}

	#mo1 > a {
		text-decoration: none;
		color: inherit;
	}

	/* header */

	.header {
		z-index: 999;
		padding: 0px 0px;

		/* border: 1px solid black; */
	}

	.logo {
		/* border: 1px solid black; */
		text-wrap: wrap;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* justify-content: center; */
		/* font-size: 27px; */
		margin-left: -70px;
		margin-top: -10px;
		/* width: min-content; */
	}
	.logo > div:nth-child(1) {
		width: min-content;
	}

	.hlink {
		display: none;
	}
	.hlinksign {
		display: none;
	}
	.maind {
		/* border: 1px solid black; */
		z-index: 9999;
		scale: 1.32;
		position: absolute;
		margin-top: 194px;
		margin-right: 60px;
	}

	.submenu {
		scale: 0.85 0.76;
		margin-top: 0px;
		margin-left: -240px;
		overflow-y: scroll;
	}

	/* main */
	.bgmain {
		scale: 0.9;
	}
	.mcontent {
		scale: 0.76 0.7;
		margin-top: -20px;
	}

	.mainwrapbtn {
		text-align: center;
		margin-top: -120px;
		padding: 0px;
	}
	/* about */
	.aboutwrapper {
		flex-direction: column;
		margin-top: 200px;
	}

	.bgmain2 {
		scale: 0.8;
		left: -100px;
	}
	.about2 {
		flex-direction: column;
	}

	.aboutleft > img {
		scale: 0.8;
	}

	.aboutright {
		/* margin-top: -10px; */
		padding-bottom: 60px;
		margin-left: -20px;
		margin-right: -21px;
	}

	/* services */

	.servicewrapper {
		padding-top: 50px;
	}
	.servicecon {
		flex-direction: column;
	}

	.service1 {
		text-align: center;
		scale: 1.05;
		margin-top: 40px;
		padding: 30px;
		margin-left: -25px;
		margin-right: -25px;
	}
	.service2 {
		scale: 1.05;
		margin-top: 60px;
		padding: 30px;
		text-align: center;
		margin-left: -25px;
		margin-right: -25px;
	}

	.service {
		flex-direction: column;
	}
	/* podcast */

	.pod1 {
		margin-left: -20px;
		margin-right: -20px;
	}
	.podcastwrap {
		flex-direction: column;
	}
	.podcastwrap2 {
		flex-direction: column;
		
	}

	.videowrap {
		scale: 0.5;
		margin-top: -60px;
		/* order: 1; */
	}
	.podcasthead {
		/* order: 1; */
		text-align: center;
	}

	/* main2 */
	.main2wrapper {
		padding-top: 570px;
		flex-direction: column;
	}

	/* main3 */
	.main3wrapper {
		flex-direction: column;
	}

	.main3left > img {
		scale: 0.7;
	}

	/* number */
	.patientscontain {
		padding: 100px 0px;
		flex-direction: column;
	}

	/* testimonials */
	.testwrap > h1 {
		padding-top: 100px;
	}

	/* single blog */
	.singleblog {
		margin-left: 0px;
		margin-right: 0px;
	}
	.comments {
		/* scale: 0.99; */
		margin-top: 300px;
	}
	.comments > input {
		width: 210px;
	}

	/* signup */
	.signform {
		/* scale: 0.74 0.9; */
	}

	.signform > div > input {
		display: flex;
		/* width: 50px; */
		padding: 10px;
		scale: 0.7 1;
		/* text-align: center; */
	}

	.signform > button {
		margin-right: 70px;
		scale: 1.2;
		margin-top: 10px;
	}

	.signformdiv {
		flex-direction: column;
		/* align-items: start; */
		justify-content: flex-start;
		/* justify-content: start; */
	}

	/* dietplans */

	.dietwrap {
		flex-direction: column;
	}

	.dietwrap1 {
		order: 2;
	}

	.dietPlan {
		flex-direction: column;
	}

	/* footer */
	.footerwrap {
		flex-direction: column;
	}
	.footup {
		text-align: center;
	}
	.footleft1 {
		/* scale: 0.9; */
	}
	.footdown {
		flex-direction: column;
	}
	.footright1 {
		margin-top: -250px;
		gap: 60px;
	}
}
