@media only screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	#mmenu {
		position: absolute;
		color: #fabc14;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		top: 42px;
		right: 20px;
		/* z-index: 2; */
		transition: all 0.5s ease;
	}
	#mmenu2 {
		position: absolute;
		color: white;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		top: 65px;
		right: 20px;
		/* z-index: 2; */
		width: 40px;
		scale: 1.2;
	}

	#mmenu > div {
		width: 37px;
		height: 6px;
		border-radius: 6px;
		margin: 3px;
		background-color: white;
		transition: all 0.5s ease;
	}

	.mobilemenu {
		/* border: 2px solid #f0dd4d; */
		position: absolute;
		top: 135px;
		left: 7px;

		display: flex;
		background-color: #fabc14;
		justify-content: center;
		flex-direction: column;
		transition: all 0.5s ease;

		padding: 20px;
		border-radius: 15px;
	}

	#mo1 {
		text-align: center;
		border: 1px solid #044941;
		/* background-color: black; */
		padding: 20px 113px;
		margin: 7px 0px;
		text-decoration: none;
		color: #044941;
		font-size: 20px;
		border-radius: 20px;
	}
	#mo1:last-child {
		background-color: #044941;
		color: #f0dd4d;
		padding: 20px 90px;
		/* z-index: -1; */
	}

	#mo1:nth-child(2) {
		/* background-color: black; */
		padding: 20px 90px;
	}
	#mo1:nth-child(5) {
		padding: 0px 0px;
	}
	.mobilesign {
		padding: 20px 113px;
		/* border: 10px solid black; */
		text-decoration: none;
		color: inherit;
	}
	/* header */

	.header {
		z-index: 999;
		padding: 0px 0px;

		/* border: 1px solid black; */
	}

	.logo {
		/* border: 1px solid black; */
		text-wrap: wrap;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* justify-content: center; */
		/* font-size: 27px; */
		margin-left: -70px;
		margin-top: -10px;
		/* width: min-content; */
	}
	.logo > div:nth-child(1){
		width: min-content;
	} 
	.logo > div:nth-child(2) {
		/* margin-right: 130px; */
		/* margin-left: -130px; */
	}

	.hlink {
		display: none;
	}
	.hlinksign {
		display: none;
	}
	.maind {
		/* border: 1px solid black; */
		z-index: 9999;
		scale: 1.35;
		position: absolute;
		margin-top: 200px;
		margin-right: 60px;
	}

	.submenu {
		scale: 0.85 0.76;
		margin-top: 0px;
		margin-left: -240px;
		overflow-y: scroll;
	}

	/* main */
	.bgmain {
		scale: 0.9;
	}
	.mcontent {
		scale: 0.76 0.7;
		margin-top: -50px;
		
	}

	.mainwrapbtn {
		text-align: center;
		margin-top: -120px;
		padding: 0px;
	}
	/* about */
	.aboutwrapper {
		flex-direction: column;
		margin-top: 200px;
	}
	.about2{
		flex-direction: column;
	}
	.aboutleft {
		/* margin-top: 930px; */
	}
	.aboutleft > img {
		scale: 0.8;
	}

	.aboutright {
		/* margin-top: -10px; */
		padding-bottom: 60px;
		margin-left: -20px;
		margin-right: -21px;
	}

	/* services */

	.servicewrapper {
		margin-top: 200px;
	}

	.service1 {
		flex-direction: column;
		margin-top: 250px;
		gap: 40px;
		/* scale: 1.1; */
		margin-left: -21px;
		margin-right: -21px;
	} 
	.service2 {
		/* scale: 1.1; */
		gap: 40px;
	}

	.service {
		flex-direction: column;
	}

	/* main2 */
	.main2wrapper {
		/* margin-top: 20px; */
		flex-direction: column;
	}

	/* main3 */
	.main3wrapper {
		flex-direction: column;
	}

	.main3left > img {
		scale: 0.8;
	}

	/* podcast */

	.podcastwrap {
		flex-direction: column;
		/* margin-top: 700px; */
	}

	.videowrap {
		scale: 0.6;
		margin-top: -50px;
	}
	.podcasthead {
		text-align: center;
	}

	/* single blog */
	.singleblog{
		margin-left: 0px;
		margin-right: 0px;
	}
	.comments {
		scale: 0.99;
		margin-top: 300px;
		margin-bottom: -10px;
	}
	.comments > input {
		width: 210px;
	}

	/* signup */
	.signform {
		scale: 0.74 0.9;
	}
	
	.signform > div > input {
		
		display: flex;
		width: 200px;
		scale: 1 1.2;
		margin-top: 10px;
		
	}
	.signform > div > label{
		margin-left: 25px;
	} 
	.signform>button{
		margin-right: 70px;
		scale: 1.2;
		margin-top: 10px;
	}

	/* footer */
	.footerwrap {
		flex-direction: column;
	}
	.footup {
		text-align: center;
	}
	.footdown {
		flex-direction: column;
	}
	.footright1 {
		margin-top: -210px;
		gap: 60px;
	}
}
