body {
	margin: 0;
	padding: 0;
	font-family: "Varela Round", sans-serif;
	background-color: #044941;
	/* background-color: #fabc14; */
}



.dashcontainer {
	display: flex;
	/* border: 1px solid white; */
    justify-content: center;
    padding: 20px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	/* border: 1px solid white; */
    padding: 50px 20px;
    box-shadow: inset 0px 5px 10px #fabc14;
    border-radius: 20px;
    flex: 0.2;
}
.sidebar >div {
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 15px;
    list-style: none;
    color: #fabc14;
    font-size: 18px;
    margin-top: 40px;
    cursor: pointer;
    /* border: 1px solid white; */
    box-shadow: inset 0px 1px 5px white;
    border-radius: 10px;
}
.dash-content{
    padding: 20px;
    display: flex;
    /* border: 10px solid white; */
    align-items: center;
    flex: 1;
}




/* blogs */

.adminwrapper {
	/* border: 1px solid #fabc14; */
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	/* margin: 40px 80px ; */
	padding: 30px;
	
}
.adminhead {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fabc14;
	font-size: 20px;
}
.bloghead {
	display: flex;

	align-items: center;
	justify-content: center;
	color: white;
	font-size: 16px;
}
.admincon {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
}

.admincon > label {
	font-size: 21px;
	color: #fabc14;
	margin: 15px;
}
.admincon1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.admincon > textarea {
	width: 800px;
	height: 300px;
	padding: 17px;
	border-radius: 20px;
	border: none;
	font-size: 18px;
	outline: none;
	transition: all 0.3s ease;
}

.admincon > input {
	width: 800px;
	padding: 17px;
	border-radius: 20px;
	border: none;
	font-size: 18px;
	outline: none;
	transition: all 0.3s ease;
}
.inputfile {
    
	color: #fabc14;
	margin-top: 20px;
	width: 70px;
	display: flex;
    cursor: pointer;
	/* gap: 40px; */
}

.admincon > button {
	padding: 12px 20px;
	border: none;
	width: 150px;
	/* height: 40px; */
	border-radius: 20px;
	font-size: 19px;
	margin: 15px;
	background-color: #044941;
	color: #fabc14;
	border: 1px solid #fabc14;
	cursor: pointer;
	transition: all 0.2s ease;
	backdrop-filter: blur(20px);
	/* box-shadow: inset 2px 2px 2px #fabc14; */

	&:hover {
		box-shadow: inset 0px 2px 12px #fabc14;
	}
}

.latestblogs {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	border-top: 1px solid white;
	margin-top: 20px;
	/* outline: 1px solid white; */
}
.latesthead {
	color: white;
	font-size: 19px;
	margin-left: 40px;
	/* text-align: center; */
}
.latestcon {
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.latestcon > div {
	border: 1px solid #fabc14;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	margin: 20px;
}

.latestcon > div > h3 {
	color: #fabc14;
}
.latestcon > div > a {
	text-decoration: none;
	color: #fabc14;
}
.latestcon > div > button {
	border: none;
	border-radius: 15px;
	padding: 10px 15px;
	background-color: crimson;
	margin-top: 20px;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

/* single blog */

.singleblog {
	background-color: white;
	border: 1px solid white;
	margin: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	border-radius: 20px;
	padding: 20px;
	min-height: 300px;
}
.singleblog > h1 {
	color: #044941;
	font-size: 31px;
	font-weight: 600;
}

.singleblog > img {
	height: 300px;
	border-radius: 10px;
	
}
.singleblog > p {
	font-size: 18px;
	color: black;
	line-height: 1.5;
	/* text-align: center; */
	white-space: pre-wrap;
}
.comments {
	border: 1px solid #044941;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	margin-top: 200px;
}
.comments > label {
	font-size: 20px;
	margin: 15px 0px;
}
.comments > input {
	width: 400px;
	padding: 15px;
	font-size: 18px;
	outline: none;
	/* border: none; */
	border-radius: 10px;
}
.comments > button {
	/* width: 300px; */
	border: none;
	border-radius: 15px;
	padding: 10px 15px;
	background-color: #fabc14;
	margin-top: 20px;
	color: #044941;
	font-size: 18px;
	backdrop-filter: blur(20px);
	cursor: pointer;
}



.patientcon{

   padding: 30px;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* align-items: center; */
    justify-content: center;
}
.patientcon>div{
    display: flex;
    flex-direction: column;
width: 250px;
background-color: white;
padding: 12px;
/* box-shadow: 0px 0px 5px #fabc14; */
}

.patientcon>div>p{
    font-size: 17px;
}


@media only screen and (max-width: 768px) {

	.dashcontainer{
		flex-direction: column;
		align-items: center;
	}
.sidebar{
	padding: 10px;
	flex-direction: row;
	gap: 30px;
}
.sidebar>div{
	margin-top: 0px;
}
	.admincon {
		align-items: center;
		justify-content: center;
	}
	.admincon > textarea {
		width: 320px;
	}
	.admincon > input {
		width: 320px;
	}

	.comments {
		/* scale: 0.99; */
		margin-top: 300px;
		
	}
	.comments > input {
		width: 210px;
	}



}
