
.testwrap{
   text-align: center;
  border-top: 1px solid #fabc14;
   background-color: #044941;
   /* background-color: white; */
   padding: 40px 40px 90px 40px ;
}

.testwrap>h1{
    color: #fabc14;
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 35px;
    /* border: 1px solid white; */
}

.videocontain>video{
border-radius: 20px;

}
.videocontain>p{
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.slider1>div{
    display: flex;
    flex-direction: column;
}